@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Contactos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Mensaje</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contacto in Model.Contactos)
        {
            <tr>
                <td>@contacto.Nombre</td>
                <td>@contacto.Correo</td>
                <td>@contacto.Mensaje</td>
                <td>
                    <form method="post" asp-page-handler="Eliminar" asp-route-id="@contacto.Id">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
